# STRINGS
1. HOW TO GET A STRING
2. STRING INTERPOLATION
3. STRING CONCATENATION

1. HOW TO GET A STRING
Enclose characters in '' or ""

In [ ]:
s1 = "I am a string"

In [ ]:
s2 = """I am "also" a string"""

There are a couple functional differences between strings enclosed in single and triple quotes.
one such difference is that in the later case you can use quotation mark within your string.

NOTE: '' define character, but not string

In [ ]:
typeof('s')

2. STRING INTERPOLATION

we can use the $ sign to insert existing variables into a string and to evaluate expressions within a string.
Below is an example that contains some highly sensitive personal information.

In [ ]:
name = "Fame"
num_fingers = 10
_num_toes = 10

println("hello, my name is $name")
println("I have $num_fingers fingers and $_num_toes toes.So in total $num_fingers + $_num_toes.")

3. STRING CONCATENATION

Below are three ways to concatenate strings!

The first way is to use string() function.
string() converts non-string input into strings.

In [ ]:
string("How many cats ", "are too many cats?")

In [ ]:
string("I don't know, but ", 10 , " are too few.")

We can also use * or string interpolation!

In [ ]:
s3 = "How many cats ";
s4 = "are too many cats?";

In [ ]:
s3*s4

In [ ]:
"$s3$s4"